body{
    background-image: url('../html/csk.jpg');
}

#shadow{
    color: red;
    box-shadow: 5px 5px 10px #000;
}

.shadow{
    background-color: cadetblue;
    color: white;
    text-shadow: 5px 5px 2px #000;
}
.one{
    background-color:bisque; 
}
.two{
    color: green;
}
.three{
    color:red;
}    


#one{
    color: black;
    background-color: greenyellow;
    padding: 50px;
    margin: 60px;
    border-color: green;
    border-width: 10px;
    border-style: solid;

}

span::before{
    content: "D";
}

span::after{
    content: "Vicky";
}
